<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneShop | Products</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-1 shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><span class="text-primary">One</span><span
                    class="text-danger">Shop</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link link-hover" href="/shop/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-hover" href="/user/cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-hover" href="/orders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-hover" href="/user/login" id="user">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5 cart-container">
        <h2 class="text-center mb-4">Shopping Cart</h2>
        <div id="cart-items"></div>
        <div class="cart-summary">
            <h4>Total Items <span id="total-items">0</span></h4>
            <h4>Rs. <span id="total-price">0</span></h4>
        </div>
        <div class="d-flex justify-content-end"><button id="place-order" class="btn btn-warning btn-block mt-3">Place
                Order</button></div>
    </div>

    <div class="modal fade" id="product-modal" tabindex="-1" aria-labelledby="product-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="product-modal-label">Product Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center mb-3">
                        <img id="product-image" src="" alt="Product Image" class="img-fluid rounded"
                            style="width: 200px; height: 200px; object-position: center; object-fit: cover;">
                    </div>
                    <h4 id="product-name" class="text-center"></h4>
                    <p id="product-description" class="text-muted text-center"></p>
                    <div class="d-flex justify-content-between">
                        <span id="product-price" class="fw-bold"></span>
                        <span id="product-quantity" class="text-muted">Quantity: </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/script.js"></script>
    <script src="/js/cart.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
</body>

</html>