nav
{
    position: sticky !important;
    top: 0px;
    z-index: 1000;
}

.link-hover:hover
{
    text-decoration: underline;
}

.form-container
{
    width: 25%;
}

/* .card-title
{
    height: 30px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis !important;
} */

.description {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
}


@media screen and (max-width: 768px) {
    .form-container {
        width: 100%;
    }
}
